* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #0284c7;
  --second-color: #dbeafe;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 6fr;
  min-height: 100vh;
}

.header {
  background-color: white;
}
.nav {
  background-color: white;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.main {
  background-color: var(--second-color);
}
.sidebar {
  background-color: var(--main-color);
  grid-row: 1/4;
}
