@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #0284c7;
  --second-color: #dbeafe;
  --hover-color: #0495dd;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 8fr;
  min-height: 100vh;
}

.header {
  background-color: white;
}
.nav {
  background-color: white;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.main {
  background-color: var(--second-color);
}
.sidebar {
  background-color: var(--main-color);
  grid-row: 1/4;
}

.sidebar-container {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  gap: 15px;
}

.sidebar-container h1 {
  color: white;
  font-weight: 900;
}

.sidebar ul {
  color: white;
  font-weight: 500;
}

.sidebar li {
  font-size: 1.1rem;
  padding: 10px;
}

.sidebar li:hover {
  background-color: var(--hover-color);
}

.profile-image {
  width: 60px;
  height: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.header-input {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max(60%, 300px);
}

.search-field {
  border-radius: 10px;
  outline: none;
  background-color: var(--second-color);
  border: none;
  height: 25px;
  width: 100%;
}

.profile-information {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.login-name {
  font-weight: 800;
  font-size: 1.3rem;
}

.search-button {
  width: 25px;
  height: 25px;
}
.notification-bell {
  width: 30px;
}

/** nav */

.nav {
  display: flex;
  justify-content: space-between;
}

.welcome-section {
  display: flex;
  flex-direction: row;
}
.introduction-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.introduction {
  font-size: 1.1rem;
  font-weight: 700;
}
.logged-user {
  font-size: 1.3rem;
  font-weight: 800;
}

.user-profile-welcome-section {
  max-width: 10vw;
  height: 5vw;
  align-self: center;
}

.badges {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-self: center;
}

.badge {
  width: 90px;
  font-size: clamp(0.9rem, 1rem, 1.5rem);
  color: white;
  background-color: var(--main-color);
  padding: 10px;
  font-weight: 800;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  margin: 15px;
}

/* main **/

.main {
  display: grid;
  grid-template-columns: 6fr 2fr;
}

.project-section {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 800;
}
.announcements-section {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 800;
}

.card {
  width: 15vw;
  background-color: white;
  margin: 10px;
  padding: 30px;
  border-radius: 20px;
  display: grid;
}

.card h1 {
  font-size: 1.3rem;
}

.card p {
  font-size: clamp(0.9rem, 1.3rem, 1.5rem);
  font-weight: 400;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
}

.card-options {
  display: flex;
  justify-content: end;
  padding-top: 40px;
}

/*  Announcement and trending section**/

.announcements-section h1 {
  font-size: 1.5rem;
}

.announc-container {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
}

.announc-container h2 {
  font-size: 1.3rem;
}
.announc-container p {
  font-size: 1rem;
  font-weight: 500;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: rgb(173, 173, 173);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.announcments-trending {
  display: grid;
  grid-template-rows: 1fr 3fr;
}
